.label {
    font-size: 0.7rem;
    margin-bottom: 0.5rem;
    color: var(--light-gray);
}

.input {
    background: none;
    color: var(--white);
    font-family: 'Poppins', sans-serif;
    outline: none;
    border: none;
    border-bottom: 1px solid var(--light-gray);
    padding-left: 0.3rem
}
