.container {
    position: absolute;
    top: 2rem;
    right: 2rem;
    display: flex;
    width: fit-content;
}

.notificationsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 1.7rem;
    right: 1.7rem;
    background-color: var(--gray);
    width: 220px;
    border-radius: 6px;
    padding: 1rem;
}

.notificationDot{
    position: absolute;
    top: -1px;
    right: 2px;
    width: 7px;
    height: 7px;
    background-color: var(--accent);
    border-radius: 50%;
}

.noNotifications {
    font-family: 'LayGrotesk-Semibold', sans-serif;
    font-size: 0.8rem;
    color: var(--light-gray);
}